<?xml version="1.0"?>
<launch>
       
      <include file="$(find six_dof)/demo/demo_world.launch">
            <arg name="paused" value="false"/>
            <arg name="verbose" value="true"/>
            <arg name="debug" value="false"/>
        </include>
        
            <arg name="x" default="0.0" />
            <arg name="y" default="0.0" />
            <arg name="z" default="0.0" />
        
            
       

    <param name="robot_description" command="cat $(find six_dof)/urdf/robot.urdf" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model robot -param robot_description"/>

    <rosparam file="$(find six_dof)/config/robot_controller.yaml" command="load"/> 

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="use_gui" value="false"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>    
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"  output="screen" ns="/robot" args="joint_state_controller
                  arm_controller
                  gripper_controller"/>


    <include file="$(find six_dof)/demo/featuredemo.launch"/>
            
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find six_dof)/rviz_config/sip_config.rviz"/> -->

</launch>
